body {
    background: white;
}
.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item {
  padding-bottom: 40px;
  text-align: center;
}
.item img {
  width: 100%;
}
.item .item-colors {
  position: relative;
  bottom: 40px;
  left: 7px;
}
.item .item-color-combination {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left;
  margin: 3px;
}
.item .item-color {
  width: 100%;
}
.item > .row {
  width: 100%;
}
