body {
    background: white;
}
.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item {
  padding-bottom: 40px;
  text-align: center;
}
.item img {
  width: 100%;
}
.item > .row {
  width: 100%;
}
