#hanger {
  display: block;
  position: fixed;
  width: 150px;
  right: 0px;
  top: 10em;
  margin-bottom: 0 !important;
}

@media (max-width: 640px) {
  #hanger {
    width: 75px;
  }}

.price .button-to-hanger {
  text-align: center;
}


.item-view > img {
  width: 100%;
}

#hanger .hanger-slot {
  padding: 0 !important;
}

#hanger .hanger-slot .hanger-item {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

#hanger img {
  width: 100%;
}

.search-form {
  margin-bottom: 2em;
}
