<div class="{{ wrap_class }}">
  <div class="form-group">
    <label for="category1">대분류</label>
    <select class="form-control" id="category1">
      {% for c in categories %}
        <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == selected_category1 %}selected="selected"{% endif %}>{{ c.0 }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="{{ wrap_class }}">
  <div class="form-group">
    <label for="category2">소분류</label>
    <select name="category" class="form-control" id="category2">
      {% for c1 in categories %}
        {% for c2 in c1.1 %}
          <option data-parent-value="{{ forloop.parentloop.counter0 }}" value="{{ c2.0 }}" {% if c2.0 == selected_category2 %}selected="selected"{% endif %}>{{ c2.1 }}</option>
        {% endfor %}
      {% endfor %}
    </select>
  </div>
</div>

<script>
function update_category2(category1) {
  $("#category2").children("[data-parent-value=\"" + category1 + "\"]").show();
  $("#category2").children(":not([data-parent-value=\"" + category1 + "\"])").hide();
}

$(document).ready(function() {
  $("#category1").change(function(e) {
    update_category2(e.target.value);
    $("#category2").children("[data-parent-value=\"" + e.target.value + "\"]").first().attr("selected", "selected");
  });
  update_category2($("#category1").val());
});
</script>
