{% if item %}
{% load item_filters %}
<div class="item {{ class_names }}"
    data-item-id="{{ item.id }"
    data-item-category1="{{ item.category|category1 }}"
    data-item-category2="{{ item.category }}">
    <img src={{ item.images }}>
    <div class="col-md-12 col-xs-12 col-lg-12">
      <span class="star-rating">
        <input type="radio" name="rating{{item.id}}" value="1"><i></i>
        <input type="radio" name="rating{{item.id}}" value="2"><i></i>
        <input type="radio" name="rating{{item.id}}" value="3"><i></i>
        <input type="radio" name="rating{{item.id}}" value="4"><i></i>
        <input type="radio" name="rating{{item.id}}" value="5"><i></i>
      </span>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p class="btn btn-link ellipsis">{{ item.name }}</p>
      </div>
      <div class="col-md-3">
        <p class="btn btn-link" onclick="">{{ item.price }}</p>
      </div>
    </div>
</div>
{% endif %}
