{% if item %}
{% load item_filters %}
<div class="item {{ class_names }}"
    data-item-id="{{ item.id }"
    data-item-category1="{{ item.category|category1 }}"
    data-item-category2="{{ item.category }}">
    <img src={{ item.images }}>
    <div class="row">
      <div class="col-md-9">
        <p class="btn btn-link ellipsis">{{ item.name }}</p>
      </div>
      <div class="col-md-3">
        <p class="btn btn-link" onclick="">{{ item.price }}</p>
      </div>
    </div>
    <a class="btn btn- like" onclick="like({{item.id}})">Like!</a>
</div>
{% endif %}
