{% if item %}
{% load item_filters %}
<div class="item {{ class_names }}"
    data-item-id="{{ item.id }}"
    data-item-category1="{{ item.category|category1 }}"
    data-item-category2="{{ item.category }}">
    <img src={{ item.images }}>
    <div class="item-colors col-md-12 col-xs-12 col-lg-12">
      {% if item.color_set.all %}
      {% for color in item.color_set.all %}
        <div class="item-color-combination">
          <div class="item-color" style="background-color: {{ color.color_id1|hex_code }}; height: {{ color.color_ratio1 }}%;"></div>
          {% if color.color_ratio2 != 0 %}
          <div class="item-color" style="background-color: {{ color.color_id2|hex_code }}; height: {{ color.color_ratio2 }}%;"></div>
          {% endif %}
          {% if color.color_ratio3 != 0 %}
          <div class="item-color" style="background-color: {{ color.color_id3|hex_code }}; height: {{ color.color_ratio3 }}%;"></div>
          {% endif %}
        </div>
      {% endfor %}
      {% else %}
        <div class="dummy-color-combination"></div>
      {% endif %}
    </div>
    <div class="col-md-12 col-xs-12 col-lg-12">
      <span class="star-rating">
        <input type="radio" name="rating{{item.id}}" value=1
                            {% if score == 1 %}checked{% endif %}
                            onclick="like({{item.id}}, 1)"><i></i>
        <input type="radio" name="rating{{item.id}}" value=2
                            {% if score == 2 %}checked{% endif %}
                            onclick="like({{item.id}}, 2)"><i></i>
        <input type="radio" name="rating{{item.id}}" value=3
                            {% if score == 3 %}checked{% endif %}
                            onclick="like({{item.id}}, 3)"><i></i>
        <input type="radio" name="rating{{item.id}}" value=4
                            {% if score == 4 %}checked{% endif %}
                            onclick="like({{item.id}}, 4)"><i></i>
        <input type="radio" name="rating{{item.id}}" value=5
                            {% if score == 5 %}checked{% endif %}
                            onclick="like({{item.id}}, 5)"><i></i>
      </span>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <a class="btn btn-link ellipsis" href="{{item.purchase_url}}"
          target="_blank">{{ item.name }}</a>
      </div>
      <div class="col-md-6 col-xs-6">
        <p class="btn btn-link">{{ item.price }}</p>
      </div>
      <div class="col-md-6 col-xs-6">
        <p class="button-to-hanger">
        <a class="btn btn-link" onclick="toHanger({{item.id}},
                    '{{item.category|category1}}',
                    '{{item.images}}')">To hanger</a>
        </p>
      </div>
    </div>
</div>
{% endif %}
