<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Diver - Fashion Recommendation for You</title>
  <meta name="description" content="Diver">
  <meta name="author" content="FashionKing">

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    <div id="logo">
      <img src="../static/images/logo.png" alt="Diver logo">
    </div>

    <nav id="main_nav"><ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Top</a></li>
      <li><a href="#">Bottom</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Shoes</a></li>
      <li><a href="#">My Diver</a></li>
    </ul></nav>
  </header>

  <section id="content">
    {% block content %}{% endblock %}
  </section>

  <footer>
  </footer>
</body>
</html>
