{% extends 'base.html' %}
{% block content %}
  {% load staticfiles %}

  <div class="jumbotron">
    <div class="container">
      <h1>DIVER</h1>

      <p>추천은 저희가 해 드립니다. 그냥 다 입으세요. 다 입어.</p>
      <p><a href="#" role="button" class="btn btn-default btn-lg">Learn more</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>이번달의 인기상품</h2>
        <p>탑텐 커플 후리스</p>
        <p><a href="#" role="button" class="btn btn-default">View details</a></p>
      </div>

      <div class="col-md-4">
        <h2>저번달의 인기상품</h2>

        <p>종헌이의 폴햄 맨투맨</p>
        <p><a href="#" role="button" class="btn btn-default">View details</a></p>
      </div>

      <div class="col-md-4">
        <h2>선조 3년의 인기상품</h2>

        <p>간지나는 저고리</p>
        <p><a href="#" role="button" class="btn btn-default">상세히 살피기</a></p>
      </div>
    </div>
  </div>

  <div id="item-list" class="raw">
    {% for item in items %}
      <li like-item-id="{{ item.id }}">
          <img src={{ item.images }}>
          {{ item.name }} {{ item.price }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function(){
      $.each($('div#item-list li'), function (i, li) {
        var $li = $(li);
        var itemID = $li.attr('like-item-id');
        var a = $(document.createElement('button')).click(function(e){
          $.ajax({
            'method' : 'get',
            'dataType': 'text',
            'url' : '/like/',
            'data' : {
              'itemID' : itemID
            },
            'success' : function(res){
              //console.log("success!!" + reservationID);
              alert(res);
              location.reload();
            },
            'error': function(jqxhr){
              console.log("wtf!!" + reservationID);
            }
          });
        }).text("좋아요");
        $li.append(a);
      })
    });
  </script>
{% endblock %}