<div id="logo">
  <div class="inner">
    <img src="../static/images/logo.png" alt="">
  </div>
</div>
{##}
{#<!-- mainmenu begin -->#}
{#<div id="mainmenu-container">#}
{#  <ul id="mainmenu">#}
{#    <li><a href="{% url "index" %}">{% trans "메인" %}</a></li>#}
{#    <li><a href="#">객실</a>#}
{#      <ul>#}
{#        <li><a href="{% url "room-list" %}">{% trans "객실목록" %}</a>#}
{#        <li><a href="{% url "room-detail" %}">{% trans "객실 상세설명" %}</a>#}
{#      </ul>#}
{#    </li>#}
{#    <li><a href="#">연회</a>#}
{#      <ul>#}
{#        <li><a href="{% url "room-list" %}">{% trans "연회목록" %}</a>#}
{#        <li><a href="{% url "room-detail" %}">{% trans "연회 상세설명" %}</a>#}
{#      </ul>#}
{#    </li>#}
{#    <li><a href="#">웨딩</a>#}
{#      <ul>#}
{#        <li><a href="{% url "room-list" %}">{% trans "웨딩 목록" %}</a>#}
{#        <li><a href="{% url "room-detail" %}">{% trans "웨딩 상세설명" %}</a>#}
{#      </ul>#}
{#    </li>#}
{##}
{#    <li><a href="#">예약</a>#}
{#      <ul>#}
{#        <li><a href="{% url "booking" %}">{% trans "객실 예약" %}</a>#}
{#        <li><a href="{% url "banquet-reservation" %}">{% trans "연회 예약" %}</a>#}
{#        <li><a href="{% url "restaurant-reservation" %}">{% trans "레스토랑 예약" %}</a>#}
{#      </ul>#}
{#    </li>#}
{##}
{#    <li>#}
{#      <a href="{% url "news" %}">{% trans "공지사항" %}</a>#}
{#    </li>#}
{##}
{##}
{#    <!-- <li><a href="fullwidth.html">Fullwidth</a></li> -->#}
{#    <li><a href="{% url "gallery" %}">{% trans "갤러리" %}</a></li>#}
{#    <li><a href="{% url "contact" %}">{% trans "오시는 길" %}</a></li>#}
{#    <li><a href="/change_language/">{% trans "language" %}</a></li>#}
{#  </ul>#}
{#</div>#}