{% extends 'base.html' %}

{% load staticfiles %}
{% block styletags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<h1>추천 받기</h1>
<h3>검색 필터 설정</h3>
<form method="get" enctype="multipart/form-data" class="search-form">
  <div class="row">
    <div class="form-group col-md-2">
      <label for="category1">대분류</label>
      <select class="form-control" id="category1">
        {% for c in categories %}
          <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == selected_category1 %}selected="selected"{% endif %}>{{ c.0 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="category2">소분류</label>
      <select name="category" class="form-control" id="category2">
        {% for c1 in categories %}
          {% for c2 in c1.1 %}
            <option data-parent-value="{{ forloop.parentloop.counter0 }}" value="{{ c2.0 }}" {% if c2.0 == selected_category2 %}selected="selected"{% endif %}>{{ c2.1 }}</option>
          {% endfor %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="lower">가격 하한</label>
      <input name="lower" class="form-control" type="number" id="lower" value="{{ lower }}">
    </div>

    <div class="form-group col-md-2">
      <label for="upper">가격 상한</label>
      <input name="upper" class="form-control" type="number" id="upper" value="{{ upper }}">
    </div>
    <div class="form-group col-md-2">
      <br>
      <input type="submit" id="send" value="검색!" class="btn btn-primary"/>
    </div>
  </div>

</form>

<div class="row">
  {% load item_filters %}
  {% if search_result %}
    {% for item in search_result %}
      <div class="item-view col-xs-6 col-md-4"
          data-item-id="{{ item.id }}"
          data-item-category1="{{ item.category|category1 }}"
          data-item-category2="{{ item.category }}">
        <img src="{{ item.images }}">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <a class="btn btn-link ellipsis" href="{{item.purchase_url}}"
              target="_blank">{{ item.name }}</a>
          </div>
          <div class="col-md-6 col-xs-6">
            <p class="btn btn-link">{{ item.price }}</p>
          </div>
          <div class="col-md-6 col-xs-6">
            <p class="button-to-hanger">
            <a class="btn btn-link" onclick="toHanger({{item.id}},
                        '{{item.category|category1}}',
                        '{{item.images}}')">To hanger</a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<div id="hanger-panel">
  <div id="hanger-handle">&lt;</div>
  <div id="hanger" class="panel panel-default">
    <div class="panel-heading">My hanger</div>
      <div class="panel-body">
        <div class="hanger-slot outer-slot" data-accepts="OUTER">{% hanger_item hanger "OUTER" 0 %}</div>
        <div class="hanger-slot outer-slot" data-accepts="OUTER">{% hanger_item hanger "OUTER" 1 %}</div>
        <div style="clear: both;">
        <div class="hanger-slot top-slot" data-accepts="TOP">{% hanger_item hanger "TOP" 0 %}</div>
        <div class="hanger-slot top-slot" data-accepts="TOP">{% hanger_item hanger "TOP" 1 %}</div>
        <div style="clear: both;">
        <div class="hanger-slot bottom-slot" data-accepts="BOTTOM">{% hanger_item hanger "BOTTOM" 0 %}</div>
        <div class="hanger-slot shoes-slot" data-accepts="SHOE">{% hanger_item hanger "SHOE" 0 %}</div>
        <div class="recommendation">
          <a class="btn btn-default btn-xs">청바지</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
  function toHanger(id, cat1, src) {
    var category = cat1.toUpperCase();
    var available_slot = $(".hanger-slot[data-accepts="+category+"]").has("p").first();

    if(available_slot.length !== 0){
      $.ajax( {
        type: 'POST',
        url: '{% url 'update_hanger' %}',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'ADD',
            item_id: id,
        }
      }).done( function(data){
        if(data.result == "ok"){
          available_slot.children().first().html('<img src="'+src+'">');
          available_slot.children().first().attr('data-item-id', id);
        } else if(data.result == "duplicate"){
          alert("The item is already in the hanger!");
        }
      });
    } else {
      alert("Hanger is full!");
    }
  }

  function removeFromHanger(id) {
    hanger_item = $('.hanger-item[data-item-id="' + id + '"]');
    $.ajax( {
      type: 'POST',
      url: '{% url 'update_hanger' %}',
      data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'REMOVE',
          item_id: id,
      }
    }).done( function(data){
      if(data.result == "ok"){
        hanger_item.removeAttr("data-item-id");
        hanger_item.removeData("item-id");
        hanger_item.html("<p>NO ITEM</p>");
      } else {
        alert("An error occurred while removing the item from hanger.");
      }
    });
  }

$(document).ready(function () {
  function updateCategory2(category1) {
    $("#category2").children("[data-parent-value=\"" + category1 + "\"]").show();
    $("#category2").children(":not([data-parent-value=\"" + category1 + "\"])").hide();
  }

  $("#category1").change(function(e) {
    updateCategory2(e.target.value);
    $("#category2").children("[data-parent-value=\"" + e.target.value + "\"]").first().attr("selected", "selected");
  });
  updateCategory2($("#category1").val());

  $("#hanger-handle").click( function(e) {
    if($("#hanger-panel").css("right") == "-150px") {
      $("#hanger-panel").animate({right: "0"});
      $("#hanger-handle").text(">");
    } else {
      $("#hanger-panel").animate({right: "-150px"});
      $("#hanger-handle").text("<");
    }
  });

  $(".hanger-item").click( function(e) {
    item_id = $(this).data("item-id");
    if(!item_id) return;
    if(confirm("Are you sure you want to remove the item from hanger?")){
      removeFromHanger(item_id);
    }
  });
});
</script>
{% endblock %}
