{% extends 'base.html' %}
{% block content %}
<h1>코디 업로드</h1>
<form method="post" action="/upload/" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="upload_filename">코디 이름</label>
    <input class="form-control" type="text" name="filename" id="upload_filename"/>
  </div>
  <div class="row">
    {% include 'category_select.html' with wrap_class="col-md-4" %}
    <div class="col-md-4">
      <div class="form-group">
        <label for="price">가격</label>
        <input class="form-control" type="number" id="price">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="color1">색상1</label>
        <input class="form-control" type="color" name="color1" id="color1"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="color2">색상2</label>
        <input class="form-control" type="color" name="color2" id="color2"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="color3">색상3</label>
        <input class="form-control" type="color" name="color3" id="color3"/>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="file" name="file" id="upload_file" value="이미지 선택"/>
  </div>
  <input type="submit" id="send" value="업로드" class="btn btn-primary"/>
</form>
{% endblock %}
