<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


<form method="post" action="/upload/" enctype="multipart/form-data">
  {% csrf_token %}
  <label>filename</label>
  <input type="text" name="filename" id="title" style="width: 555px; height: 30px;"/>
  <input type="file"
         name="file"
         id="id_file"
         value="이미지 선택"/>
  <p id="btnsubmit"><input type="submit" id="send" value="업로" class="btn btn-large"/></p>
</form>

</body>
</html>