{% extends 'base.html' %}
{% block content %}
<h1>코디 업로드</h1>
<form method="post" action="/upload/" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="upload_filename">코디 이름</label>
    <input class="form-control" type="text" name="filename" id="upload_filename"/>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="category1">대분류</label>
        <select class="form-control" id="category1">
          <option value="1">Top</option>
          <option value="2">Bottom</option>
          <option value="3">Outer</option>
          <option value="4">Shoes</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="category2">소분류</label>
        <select class="form-control" id="category2" disabled>
          <option>대분류를 선택하세요.</option>
          <option value="1">Sleeveless</option>
          <option value="1">Shirt</option>
          <option value="1">T-shirt</option>
          <option value="1">Hood</option>
          <option value="1">Crew sweatshirt</option>
          <option value="1">Knit</option>
          <option value="2">Jogger pants</option>
          <option value="2">Jean</option>
          <option value="2">Leather</option>
          <option value="2">Cotton</option>
          <option value="2">Chino</option>
          <option value="3">Vest</option>
          <option value="3">Coat</option>
          <option value="3">Jersey</option>
          <option value="3">Jumper</option>
          <option value="3">Jacket</option>
          <option value="3">Cardigan</option>
          <option value="4">Sneakers</option>
          <option value="4">Loafers</option>
          <option value="4">Canvas</option>
          <option value="4">Sandles</option>
          <option value="4">Slip-on</option>
          <option value="4">Oxfords</option>
          <option value="4">Boots</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="price">가격</label>
        <input class="form-control" type="number" id="price">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="color1">색상1</label>
        <input class="form-control" type="color" name="color1" id="color1"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="color2">색상2</label>
        <input class="form-control" type="color" name="color2" id="color2"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="color3">색상3</label>
        <input class="form-control" type="color" name="color3" id="color3"/>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="file" name="file" id="upload_file" value="이미지 선택"/>
  </div>
  <input type="submit" id="send" value="업로드" class="btn btn-primary"/>
</form>
{% endblock %}
{% block script %}
<script>
$(document).ready(function()  {
  $("#category1").change(function() {
    $("#category2").attr("disabled", false);
    if ($(this).data('options') == undefined) {
      /*Taking an array of all options-2 and kind of embedding it on the select1*/
      $(this).data('options',$('#category2 option').clone());
      }

    var id = $(this).val();
    var options = $(this).data('options').filter('[value=' + id + ']');
    $("#category2").html(options);
})});
</script>
{% endblock %}
